@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Modak&family=Roboto:wght@700&display=swap");

body{
    text-align: center;
    background-color: #97f3f7;
}

h1{
    font-family: 'Modak', cursive;
    font-weight: normal;
    color: #c40404;
    font-size: 5em;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #570000;
    font-size: 2.5em;
}

h3{
    font-family: 'RocknRoll One', sans-serif;
    font-weight: normal;
    color: #cf2213;
    font-size: 1em;
}

.navbarhead {
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
}

.navbarhead a {
  float: center;
  font-family: 'Modak', cursive;
  font-weight: normal;
  color: #c40404;
  font-size: 5em;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 100;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  font-family: 'RocknRoll One', sans-serif;
  font-weight: normal;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.block1 {
  margin-top: 50px;
}

.fontz{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #570000;
    font-size: 1.5em;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 5% 40% 10% 40% 5%;
  grid-template-rows: auto;
  grid-template-areas: 
    "navbar navbar navbar navbar"
    "header header header header"
    ". main1 middle main2 ."
    "footer footer footer footer";
}

.main1{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.main2{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.header{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
}

.footer{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
}

.container1{
  text-align: center;
}

.defensive-coverage-table { border-spacing: 0; border-collapse: collapse; margin-left: auto; margin-right: auto; }
.defensive-coverage-table th { border: 1px solid; padding: .5em; }
.defensive-coverage-table td { border: 1px solid; width: 2em; height: 2em; }
.defensive-coverage-table .light { background: #c7d7d9; }
.defensive-coverage-table .dark { background: #acbbbd; }
.defensive-coverage-table .edge { background: #AAB09F; }
.defensive-coverage-table .effective { background: #19ad0e; text-align: center;}
.defensive-coverage-table .lesseffective { background: #de2f14; text-align: center;}
.defensive-coverage-table .noneffective { background: #051126; color: #ffffff; text-align: center; border-color: #000000;}
