{% extends "JinjaLayout.html" %}
{% block content %}
  <div class="container">
    <div class="main1">
      <h2>{{pokemon1}}</h2>
      <img height="200" src="https://img.pokemondb.net/artwork/{{pokemon1}}.jpg">
      <div class="fontz">
        <p>{{type11}} {{type12}}</p>
        <p>-</p>
        <p>Total Stats: {{total1}}</p>
        <p>HP: {{hp1}}</p>
        <p>Attack: {{attack1}}</p>
        <p>Special Attack: {{spattack1}}</p>
        <p>Defense: {{defense1}}</p>
        <p>Special Defense: {{spdefense1}}</p>
        <p>Speed: {{speed1}}</p>
      </div>
    </div>
    <div class="main2">
      <h2>{{pokemon2}}</h2>
      <img height="200" src="https://img.pokemondb.net/artwork/{{pokemon2}}.jpg">
      <div class="fontz">
        <p>{{type21}} {{type22}}</p>
        <p>-</p>
        <p>Total Stats: {{total2}}</p>
        <p>HP: {{hp2}}</p>
        <p>Attack: {{attack2}}</p>
        <p>Special Attack: {{spattack2}}</p>
        <p>Defense: {{defense2}}</p>
        <p>Special Defense: {{spdefense2}}</p>
        <p>Speed: {{speed2}}</p>
      </div>
    </div>
  </div>
{% endblock %}
