{% extends "JinjaLayout.html" %}
{% block content %}

<h2>Register New User</h2>

<form action="/new_user.html" method="post">
  <label for="email">Email:</label><br>
  <input type="text" id="email" name="email" value=""><br><br>
  <label for="username">Username:</label><br>
  <input type="text" id="username" name="username" value=""><br><br>
  <label for="password">Password (8+ characters):</label><br>
  <input type="password" minlength=8 required id="password" name="password" value=""><br><br>
  <br><br><br>
  <input type="submit" value="Submit">
</form>

{% endblock %}
