{% extends "JinjaLayout.html" %}
{% block content %}

<h1>TeamBuilder</h1>

<div class="pokemonpicker">
  <p>"insert pokemon here"</p>
  <img src="https://raw.githubusercontent.com/KellenK9/PokemonSite/master/pokemon_sprites/gens/1/sprite/1.png">
  <img src="https://raw.githubusercontent.com/KellenK9/PokemonSite/master/pokemon_sprites/gens/1/sprite/4.png">
  <img src="/pokemon_sprites/gens/1/sprite/7.png">
</div>

<table class="defensive-coverage-table">
  <thead>
    <tr>
      <th>Defensive Coverage</th>
      <th class="edge">1st Pokémon</th>
      <th class="edge">2nd Pokémon</th>
      <th class="edge">3rd Pokémon</th>
      <th class="edge">4th Pokémon</th>
      <th class="edge">5th Pokémon</th>
      <th class="edge">6th Pokémon</th>
      <th class="edge">Weaknesses</th>
      <th class="edge">Resistances</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="edge" style="background: #AAB09F">Normal</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #EA7A3C">Fire</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #539AE2">Water</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #71C558">Grass</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #E5C531">Electric</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #70CBD4">Ice</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #CB5F48">Fighting</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #B468B7">Poison</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #CC9F4F">Ground</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #7DA6DE">Flying</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #E5709B">Psychic</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #94BC4A">Bug</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #B2A061">Rock</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #846AB6">Ghost</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #6A7BAF">Dragon</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #736C75">Dark</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #89A1B0">Steel</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
    <tr>
      <th class="edge" style="background: #E397D1">Fairy</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <th class="edge"></th>
      <th class="edge"></th>
    </tr>
  </tbody>
</table>

{% endblock %}
