<html>
<head>
    <title>Website</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

<div class="navbar">
  <a href="/home.html">Home</a>
  <a href="/comparison">Pokemon Comparison</a>
  <a href="/teambuilder">Team Builder</a>
  {% if session['username'] %}
    <a href="/user_page.html", style="float:right;">{{session['username']}}</a>
  {% else %}
    <a href="/login.html", style="float:right;">Log In</a>
  {% endif %}
</div>

<div class="block1">
<h1>TeamBuilder</h1>

<table class="defensive-coverage-table">
  <thead>
    <tr>
      <th class="edge"></th>
      <th class="edge">Normal</th>
      <th class="edge">Fire</th>
      <th class="edge">Water</th>
      <th class="edge">Grass</th>
      <th class="edge">Electric</th>
      <th class="edge">Ice</th>
      <th class="edge">Fightin</th>
      <th class="edge">Poison</th>
      <th class="edge">Ground</th>
      <th class="edge">Flying</th>
      <th class="edge">Psychic</th>
      <th class="edge">Bug</th>
      <th class="edge">Rock</th>
      <th class="edge">Ghost</th>
      <th class="edge">Dragon</th>
      <th class="edge">Dark</th>
      <th class="edge">Steel</th>
      <th class="edge">Fairy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="edge">1st Pokemon</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge">2nd Pokemon</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge">3rd Pokemon</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge">4th Pokemon</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge">5th Pokemon</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge">6th Pokemon</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th class="edge">Total Count</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
    </tr>
  </tfoot>
</table>

<img height="240" src="https://stickershop.line-scdn.net/stickershop/v1/product/15492/LINEStorePC/main.png">
    
</div>

</body>
</html>
