<html>
<head>
    <title>Website</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<style>

@import url("https://fonts.googleapis.com/css2?family=Modak&family=Roboto:wght@700&display=swap");

</style>

</head>

<body>
  <div class="navbar">
    <a href="/home.html">Home</a>
    <a href="/comparison">Pokemon Comparison</a>
    {% if session['username'] %}
      <a href="/user_page.html", style="float:right;">{{session['username']}}</a>
    {% else %}
      <a href="/login.html", style="float:right;">Log In</a>
    {% endif %}
  </div>
  <div class= "container1">
    <h2>Enter the names of the 2 pokemon you want to compare</h2>
    <form action="/comparison", method="POST">
      <input list="names" name="text1">
      <input list="names" name="text2">
      <datalist id="names">
        <option value="bulbasaur">
        <option value="ivysaur">
        <option value="venusaur">
        <option value="charmander">
        <option value="charmeleon">
        <option value="charizard">
        <option value="squirtle">
        <option value="wartortle">
        <option value="blastoise">
        <option value="caterpie">
        <option value="metapod">
        <option value="butterfree">
        <option value="weedle">
        <option value="kakuna">
        <option value="beedrill">
        <option value="pidgey">
        <option value="pidgeotto">
        <option value="pidgeot">
        <option value="rattata">
        <option value="raticate">
        <option value="spearow">
        <option value="fearow">
        <option value="ekans">
        <option value="arbok">
        <option value="pikachu">
        <option value="raichu">
        <option value="sandshrew">
        <option value="sandslash">
        <option value="nidoran-f">
        <option value="nidorina">
        <option value="nidoqueen">
        <option value="nidoran-m">
        <option value="nidorino">
        <option value="nidoking">
        <option value="clefairy">
        <option value="clefable">
        <option value="vulpix">
        <option value="ninetales">
        <option value="jigglypuff">
        <option value="wigglytuff">
        <option value="zubat">
        <option value="golbat">
        <option value="oddish">
        <option value="gloom">
        <option value="vileplume">
        <option value="paras">
        <option value="parasect">
        <option value="venonat">
        <option value="venomoth">
        <option value="diglett">
        <option value="dugtrio">
        <option value="meowth">
        <option value="persian">
        <option value="psyduck">
        <option value="golduck">
        <option value="mankey">
        <option value="primeape">
        <option value="growlithe">
        <option value="arcanine">
        <option value="poliwag">
        <option value="poliwhirl">
        <option value="poliwrath">
        <option value="abra">
        <option value="kadabra">
        <option value="alakazam">
        <option value="machop">
        <option value="machoke">
        <option value="machamp">
        <option value="bellsprout">
        <option value="weepinbell">
        <option value="victreebel">
        <option value="tentacool">
        <option value="tentacruel">
        <option value="geodude">
        <option value="graveler">
        <option value="golem">
        <option value="ponyta">
        <option value="rapidash">
        <option value="slowpoke">
        <option value="slowbro">
        <option value="magnemite">
        <option value="magneton">
        <option value="farfetchd">
        <option value="doduo">
        <option value="dodrio">
        <option value="seel">
        <option value="dewgong">
        <option value="grimer">
        <option value="muk">
        <option value="shellder">
        <option value="cloyster">
        <option value="gastly">
        <option value="haunter">
        <option value="gengar">
        <option value="onix">
        <option value="drowzee">
        <option value="hypno">
        <option value="krabby">
        <option value="kingler">
        <option value="voltorb">
        <option value="electrode">
        <option value="exeggcute">
        <option value="exeggutor">
        <option value="cubone">
        <option value="marowak">
        <option value="hitmonlee">
        <option value="hitmonchan">
        <option value="lickitung">
        <option value="koffing">
        <option value="weezing">
        <option value="rhyhorn">
        <option value="rhydon">
        <option value="chansey">
        <option value="tangela">
        <option value="kangaskhan">
        <option value="horsea">
        <option value="seadra">
        <option value="goldeen">
        <option value="seaking">
        <option value="staryu">
        <option value="starmie">
        <option value="mr. mime">
        <option value="scyther">
        <option value="jynx">
        <option value="electabuzz">
        <option value="magmar">
        <option value="pinsir">
        <option value="tauros">
        <option value="magikarp">
        <option value="gyarados">
        <option value="lapras">
        <option value="ditto">
        <option value="eevee">
        <option value="vaporeon">
        <option value="jolteon">
        <option value="flareon">
        <option value="porygon">
        <option value="omanyte">
        <option value="omastar">
        <option value="kabuto">
        <option value="kabutops">
        <option value="aerodactyl">
        <option value="snorlax">
        <option value="articuno">
        <option value="zapdos">
        <option value="moltres">
        <option value="dratini">
        <option value="dragonair">
        <option value="dragonite">
        <option value="mewtwo">
        <option value="mew">
        <option value="chikorita">
        <option value="bayleef">
        <option value="meganium">
        <option value="cyndaquil">
        <option value="quilava">
        <option value="typhlosion">
        <option value="totodile">
        <option value="croconaw">
        <option value="feraligatr">
        <option value="sentret">
        <option value="furret">
        <option value="hoothoot">
        <option value="noctowl">
        <option value="ledyba">
        <option value="ledian">
        <option value="spinarak">
        <option value="ariados">
        <option value="crobat">
        <option value="chinchou">
        <option value="lanturn">
        <option value="pichu">
        <option value="cleffa">
        <option value="igglybuff">
        <option value="togepi">
        <option value="togetic">
        <option value="natu">
        <option value="xatu">
        <option value="mareep">
        <option value="flaaffy">
        <option value="ampharos">
        <option value="bellossom">
        <option value="marill">
        <option value="azumarill">
        <option value="sudowoodo">
        <option value="politoed">
        <option value="hoppip">
        <option value="skiploom">
        <option value="jumpluff">
        <option value="aipom">
        <option value="sunkern">
        <option value="sunflora">
        <option value="yanma">
        <option value="wooper">
        <option value="quagsire">
        <option value="espeon">
        <option value="umbreon">
        <option value="murkrow">
        <option value="slowking">
        <option value="misdreavus">
        <option value="unown">
        <option value="wobbuffet">
        <option value="girafarig">
        <option value="pineco">
        <option value="forretress">
        <option value="dunsparce">
        <option value="gligar">
        <option value="steelix">
        <option value="snubbull">
        <option value="granbull">
        <option value="qwilfish">
        <option value="scizor">
        <option value="shuckle">
        <option value="heracross">
        <option value="sneasel">
        <option value="teddiursa">
        <option value="ursaring">
        <option value="slugma">
        <option value="magcargo">
        <option value="swinub">
        <option value="piloswine">
        <option value="corsola">
        <option value="remoraid">
        <option value="octillery">
        <option value="delibird">
        <option value="mantine">
        <option value="skarmory">
        <option value="houndour">
        <option value="houndoom">
        <option value="kingdra">
        <option value="phanpy">
        <option value="donphan">
        <option value="porygon2">
        <option value="stantler">
        <option value="smeargle">
        <option value="tyrogue">
        <option value="hitmontop">
        <option value="smoochum">
        <option value="elekid">
        <option value="magby">
        <option value="miltank">
        <option value="blissey">
        <option value="raikou">
        <option value="entei">
        <option value="suicune">
        <option value="larvitar">
        <option value="pupitar">
        <option value="tyranitar">
        <option value="lugia">
        <option value="ho-oh">
        <option value="celebi">
        <option value="treecko">
        <option value="grovyle">
        <option value="sceptile">
        <option value="torchic">
        <option value="combusken">
        <option value="blaziken">
        <option value="mudkip">
        <option value="marshtomp">
        <option value="swampert">
        <option value="poochyena">
        <option value="mightyena">
        <option value="zigzagoon">
        <option value="linoone">
        <option value="wurmple">
        <option value="silcoon">
        <option value="beautifly">
        <option value="cascoon">
        <option value="dustox">
        <option value="lotad">
        <option value="lombre">
        <option value="ludicolo">
        <option value="seedot">
        <option value="nuzleaf">
        <option value="shiftry">
        <option value="taillow">
        <option value="swellow">
        <option value="wingull">
        <option value="pelipper">
        <option value="ralts">
        <option value="kirlia">
        <option value="gardevoir">
        <option value="surskit">
        <option value="masquerain">
        <option value="shroomish">
        <option value="breloom">
        <option value="slakoth">
        <option value="vigoroth">
        <option value="slaking">
        <option value="nincada">
        <option value="ninjask">
        <option value="shedinja">
        <option value="whismur">
        <option value="loudred">
        <option value="exploud">
        <option value="makuhita">
        <option value="hariyama">
        <option value="azurill">
        <option value="nosepass">
        <option value="skitty">
        <option value="delcatty">
        <option value="sableye">
        <option value="mawile">
        <option value="aron">
        <option value="lairon">
        <option value="aggron">
        <option value="meditite">
        <option value="medicham">
        <option value="electrike">
        <option value="manectric">
        <option value="plusle">
        <option value="minun">
        <option value="volbeat">
        <option value="illumise">
        <option value="roselia">
        <option value="gulpin">
        <option value="swalot">
        <option value="carvanha">
        <option value="sharpedo">
        <option value="wailmer">
        <option value="wailord">
        <option value="numel">
        <option value="camerupt">
        <option value="torkoal">
        <option value="spoink">
        <option value="grumpig">
        <option value="spinda">
        <option value="trapinch">
        <option value="vibrava">
        <option value="flygon">
        <option value="cacnea">
        <option value="cacturne">
        <option value="swablu">
        <option value="altaria">
        <option value="zangoose">
        <option value="seviper">
        <option value="lunatone">
        <option value="solrock">
        <option value="barboach">
        <option value="whiscash">
        <option value="corphish">
        <option value="crawdaunt">
        <option value="baltoy">
        <option value="claydol">
        <option value="lileep">
        <option value="cradily">
        <option value="anorith">
        <option value="armaldo">
        <option value="feebas">
        <option value="milotic">
        <option value="castform">
        <option value="kecleon">
        <option value="shuppet">
        <option value="banette">
        <option value="duskull">
        <option value="dusclops">
        <option value="tropius">
        <option value="chimecho">
        <option value="absol">
        <option value="wynaut">
        <option value="snorunt">
        <option value="glalie">
        <option value="spheal">
        <option value="sealeo">
        <option value="walrein">
        <option value="clamperl">
        <option value="huntail">
        <option value="gorebyss">
        <option value="relicanth">
        <option value="luvdisc">
        <option value="bagon">
        <option value="shelgon">
        <option value="salamence">
        <option value="beldum">
        <option value="metang">
        <option value="metagross">
        <option value="regirock">
        <option value="regice">
        <option value="registeel">
        <option value="latias">
        <option value="latios">
        <option value="kyogre">
        <option value="groudon">
        <option value="rayquaza">
        <option value="jirachi">
        <option value="deoxys">
        <option value="turtwig">
        <option value="grotle">
        <option value="torterra">
        <option value="chimchar">
        <option value="monferno">
        <option value="infernape">
        <option value="piplup">
        <option value="prinplup">
        <option value="empoleon">
        <option value="starly">
        <option value="staravia">
        <option value="staraptor">
        <option value="bidoof">
        <option value="bibarel">
        <option value="kricketot">
        <option value="kricketune">
        <option value="shinx">
        <option value="luxio">
        <option value="luxray">
        <option value="budew">
        <option value="roserade">
        <option value="cranidos">
        <option value="rampardos">
        <option value="shieldon">
        <option value="bastiodon">
        <option value="burmy">
        <option value="wormadam">
        <option value="mothim">
        <option value="combee">
        <option value="vespiquen">
        <option value="pachirisu">
        <option value="buizel">
        <option value="floatzel">
        <option value="cherubi">
        <option value="cherrim">
        <option value="shellos">
        <option value="gastrodon">
        <option value="ambipom">
        <option value="drifloon">
        <option value="drifblim">
        <option value="buneary">
        <option value="lopunny">
        <option value="mismagius">
        <option value="honchkrow">
        <option value="glameow">
        <option value="purugly">
        <option value="chingling">
        <option value="stunky">
        <option value="skuntank">
        <option value="bronzor">
        <option value="bronzong">
        <option value="bonsly">
        <option value="mime jr.">
        <option value="happiny">
        <option value="chatot">
        <option value="spiritomb">
        <option value="gible">
        <option value="gabite">
        <option value="garchomp">
        <option value="munchlax">
        <option value="riolu">
        <option value="lucario">
        <option value="hippopotas">
        <option value="hippowdon">
        <option value="skorupi">
        <option value="drapion">
        <option value="croagunk">
        <option value="toxicroak">
        <option value="carnivine">
        <option value="finneon">
        <option value="lumineon">
        <option value="mantyke">
        <option value="snover">
        <option value="abomasnow">
        <option value="weavile">
        <option value="magnezone">
        <option value="lickilicky">
        <option value="rhyperior">
        <option value="tangrowth">
        <option value="electivire">
        <option value="magmortar">
        <option value="togekiss">
        <option value="yanmega">
        <option value="leafeon">
        <option value="glaceon">
        <option value="gliscor">
        <option value="mamoswine">
        <option value="porygon-z">
        <option value="gallade">
        <option value="probopass">
        <option value="dusknoir">
        <option value="froslass">
        <option value="rotom">
        <option value="uxie">
        <option value="mesprit">
        <option value="azelf">
        <option value="dialga">
        <option value="palkia">
        <option value="heatran">
        <option value="regigigas">
        <option value="giratina">
        <option value="cresselia">
        <option value="phione">
        <option value="manaphy">
        <option value="darkrai">
        <option value="shaymin">
        <option value="arceus">
        <option value="victini">
        <option value="snivy">
        <option value="servine">
        <option value="serperior">
        <option value="tepig">
        <option value="pignite">
        <option value="emboar">
        <option value="oshawott">
        <option value="dewott">
        <option value="samurott">
        <option value="patrat">
        <option value="watchog">
        <option value="lillipup">
        <option value="herdier">
        <option value="stoutland">
        <option value="purrloin">
        <option value="liepard">
        <option value="pansage">
        <option value="simisage">
        <option value="pansear">
        <option value="simisear">
        <option value="panpour">
        <option value="simipour">
        <option value="munna">
        <option value="musharna">
        <option value="pidove">
        <option value="tranquill">
        <option value="unfezant">
        <option value="blitzle">
        <option value="zebstrika">
        <option value="roggenrola">
        <option value="boldore">
        <option value="gigalith">
        <option value="woobat">
        <option value="swoobat">
        <option value="drilbur">
        <option value="excadrill">
        <option value="audino">
        <option value="timburr">
        <option value="gurdurr">
        <option value="conkeldurr">
        <option value="tympole">
        <option value="palpitoad">
        <option value="seismitoad">
        <option value="throh">
        <option value="sawk">
        <option value="sewaddle">
        <option value="swadloon">
        <option value="leavanny">
        <option value="venipede">
        <option value="whirlipede">
        <option value="scolipede">
        <option value="cottonee">
        <option value="whimsicott">
        <option value="petilil">
        <option value="lilligant">
        <option value="basculin">
        <option value="sandile">
        <option value="krokorok">
        <option value="krookodile">
        <option value="darumaka">
        <option value="darmanitan">
        <option value="maractus">
        <option value="dwebble">
        <option value="crustle">
        <option value="scraggy">
        <option value="scrafty">
        <option value="sigilyph">
        <option value="yamask">
        <option value="cofagrigus">
        <option value="tirtouga">
        <option value="carracosta">
        <option value="archen">
        <option value="archeops">
        <option value="trubbish">
        <option value="garbodor">
        <option value="zorua">
        <option value="zoroark">
        <option value="minccino">
        <option value="cinccino">
        <option value="gothita">
        <option value="gothorita">
        <option value="gothitelle">
        <option value="solosis">
        <option value="duosion">
        <option value="reuniclus">
        <option value="ducklett">
        <option value="swanna">
        <option value="vanillite">
        <option value="vanillish">
        <option value="vanilluxe">
        <option value="deerling">
        <option value="sawsbuck">
        <option value="emolga">
        <option value="karrablast">
        <option value="escavalier">
        <option value="foongus">
        <option value="amoonguss">
        <option value="frillish">
        <option value="jellicent">
        <option value="alomomola">
        <option value="joltik">
        <option value="galvantula">
        <option value="ferroseed">
        <option value="ferrothorn">
        <option value="klink">
        <option value="klang">
        <option value="klinklang">
        <option value="tynamo">
        <option value="eelektrik">
        <option value="eelektross">
        <option value="elgyem">
        <option value="beheeyem">
        <option value="litwick">
        <option value="lampent">
        <option value="chandelure">
        <option value="axew">
        <option value="fraxure">
        <option value="haxorus">
        <option value="cubchoo">
        <option value="beartic">
        <option value="cryogonal">
        <option value="shelmet">
        <option value="accelgor">
        <option value="stunfisk">
        <option value="mienfoo">
        <option value="mienshao">
        <option value="druddigon">
        <option value="golett">
        <option value="golurk">
        <option value="pawniard">
        <option value="bisharp">
        <option value="bouffalant">
        <option value="rufflet">
        <option value="braviary">
        <option value="vullaby">
        <option value="mandibuzz">
        <option value="heatmor">
        <option value="durant">
        <option value="deino">
        <option value="zweilous">
        <option value="hydreigon">
        <option value="larvesta">
        <option value="volcarona">
        <option value="cobalion">
        <option value="terrakion">
        <option value="virizion">
        <option value="tornadus">
        <option value="thundurus">
        <option value="reshiram">
        <option value="zekrom">
        <option value="landorus">
        <option value="kyurem">
        <option value="keldeo">
        <option value="meloetta">
        <option value="genesect">
        <option value="chespin">
        <option value="quilladin">
        <option value="chesnaught">
        <option value="fennekin">
        <option value="braixen">
        <option value="delphox">
        <option value="froakie">
        <option value="frogadier">
        <option value="greninja">
        <option value="bunnelby">
        <option value="diggersby">
        <option value="fletchling">
        <option value="fletchinder">
        <option value="talonflame">
        <option value="scatterbug">
        <option value="spewpa">
        <option value="vivillon">
        <option value="litleo">
        <option value="pyroar">
        <option value="flabã©bã©">
        <option value="floette">
        <option value="florges">
        <option value="skiddo">
        <option value="gogoat">
        <option value="pancham">
        <option value="pangoro">
        <option value="furfrou">
        <option value="espurr">
        <option value="meowstic">
        <option value="honedge">
        <option value="doublade">
        <option value="aegislash">
        <option value="spritzee">
        <option value="aromatisse">
        <option value="swirlix">
        <option value="slurpuff">
        <option value="inkay">
        <option value="malamar">
        <option value="binacle">
        <option value="barbaracle">
        <option value="skrelp">
        <option value="dragalge">
        <option value="clauncher">
        <option value="clawitzer">
        <option value="helioptile">
        <option value="heliolisk">
        <option value="tyrunt">
        <option value="tyrantrum">
        <option value="amaura">
        <option value="aurorus">
        <option value="sylveon">
        <option value="hawlucha">
        <option value="dedenne">
        <option value="carbink">
        <option value="goomy">
        <option value="sliggoo">
        <option value="goodra">
        <option value="klefki">
        <option value="phantump">
        <option value="trevenant">
        <option value="pumpkaboo">
        <option value="gourgeist">
        <option value="bergmite">
        <option value="avalugg">
        <option value="noibat">
        <option value="noivern">
        <option value="xerneas">
        <option value="yveltal">
        <option value="zygarde">
        <option value="diancie">
        <option value="hoopa">
        <option value="volcanion">
        <option value="rowlet">
        <option value="dartrix">
        <option value="decidueye">
        <option value="litten">
        <option value="torracat">
        <option value="incineroar">
        <option value="popplio">
        <option value="brionne">
        <option value="primarina">
        <option value="pikipek">
        <option value="trumbeak">
        <option value="toucannon">
        <option value="yungoos">
        <option value="gumshoos">
        <option value="grubbin">
        <option value="charjabug">
        <option value="vikavolt">
        <option value="crabrawler">
        <option value="crabominable">
        <option value="oricorio">
        <option value="cutiefly">
        <option value="ribombee">
        <option value="rockruff">
        <option value="lycanroc">
        <option value="wishiwashi">
        <option value="mareanie">
        <option value="toxapex">
        <option value="mudbray">
        <option value="mudsdale">
        <option value="dewpider">
        <option value="araquanid">
        <option value="fomantis">
        <option value="lurantis">
        <option value="morelull">
        <option value="shiinotic">
        <option value="salandit">
        <option value="salazzle">
        <option value="stufful">
        <option value="bewear">
        <option value="bounsweet">
        <option value="steenee">
        <option value="tsareena">
        <option value="comfey">
        <option value="oranguru">
        <option value="passimian">
        <option value="wimpod">
        <option value="golisopod">
        <option value="sandygast">
        <option value="palossand">
        <option value="pyukumuku">
        <option value="type: null">
        <option value="silvally">
        <option value="minior">
        <option value="komala">
        <option value="turtonator">
        <option value="togedemaru">
        <option value="mimikyu">
        <option value="bruxish">
        <option value="drampa">
        <option value="dhelmise">
        <option value="jangmo-o">
        <option value="hakamo-o">
        <option value="kommo-o">
        <option value="tapu koko">
        <option value="tapu lele">
        <option value="tapu bulu">
        <option value="tapu fini">
        <option value="cosmog">
        <option value="cosmoem">
        <option value="solgaleo">
        <option value="lunala">
        <option value="nihilego">
        <option value="buzzwole">
        <option value="pheromosa">
        <option value="xurkitree">
        <option value="celesteela">
        <option value="kartana">
        <option value="guzzlord">
        <option value="necrozma">
        <option value="magearna">
        <option value="Marshadow">
        <option value="Poipole">
        <option value="Naganadel">
        <option value="Stakataka">
        <option value="Blacephalon">
        <option value="Zeraora">
        <option value="Meltan">
        <option value="Melmetal">
        <option value="Grookey">
        <option value="Thwackey">
        <option value="Rillaboom">
        <option value="Scorbunny">
        <option value="Raboot">
        <option value="Cinderace">
        <option value="Sobble">
        <option value="Drizzile">
        <option value="Inteleon">
        <option value="Skwovet">
        <option value="Greedent">
        <option value="Rookidee">
        <option value="Corvisquire">
        <option value="Corviknight">
        <option value="Blipbug">
        <option value="Dottler">
        <option value="Orbeetle">
        <option value="Nickit">
        <option value="Thievul">
        <option value="Gossifleur">
        <option value="Eldegoss">
        <option value="Wooloo">
        <option value="Dubwool">
        <option value="Chewtle">
        <option value="Drednaw">
        <option value="Yamper">
        <option value="Boltund">
        <option value="Rolycoly">
        <option value="Carkol">
        <option value="Coalossal">
        <option value="Applin">
        <option value="Flapple">
        <option value="Appletun">
        <option value="Silicobra">
        <option value="Sandaconda">
        <option value="Cramorant">
        <option value="Arrokuda">
        <option value="Barraskewda">
        <option value="Toxel">
        <option value="Toxtricity">
        <option value="Sizzlipede">
        <option value="Centiskorch">
        <option value="Clobbopus">
        <option value="Grapploct">
        <option value="Sinistea">
        <option value="Polteageist">
        <option value="Hatenna">
        <option value="Hattrem">
        <option value="Hatterene">
        <option value="Impidimp">
        <option value="Morgrem">
        <option value="Grimmsnarl">
        <option value="Obstagoon">
        <option value="Perrserker">
        <option value="Cursola">
        <option value="Sirfetch'd">
        <option value="Mr. Rime">
        <option value="Runerigus">
        <option value="Milcery">
        <option value="Alcremie">
        <option value="Falinks">
        <option value="Pincurchin">
        <option value="Snom">
        <option value="Frosmoth">
        <option value="Stonjourner">
        <option value="Eiscue">
        <option value="Indeedee">
        <option value="Morpeko">
        <option value="Cufant">
        <option value="Copperajah">
        <option value="Dracozolt">
        <option value="Arctozolt">
        <option value="Dracovish">
        <option value="Arctovish">
        <option value="Duraludon">
        <option value="Dreepy">
        <option value="Drakloak">
        <option value="Dragapult">
        <option value="Zacian">
        <option value="Zamazenta">
        <option value="Eternatus">
        <option value="Kubfu">
        <option value="Urshifu">
        <option value="Zarude">
        <option value="Regieleki">
        <option value="Regidrago">
        <option value="Glastrier">
        <option value="Spectrier">
        <option value="Calyrex">
      </datalist>
      <input type="submit">
    </form>
    <img height="240" src="https://stickershop.line-scdn.net/stickershop/v1/product/15492/LINEStorePC/main.png">
  </div>
</body>
</html>
