{% extends "JinjaLayout.html" %}
{% block content %}

<h1>TypeChart</h1>

<table class="defensive-coverage-table">
  <thead>
    <tr>
      <th>Defender→<br>Attacker↓</th>
      <th class="edge" style="background: #AAB09F">Normal</th>
      <th class="edge" style="background: #EA7A3C">Fire</th>
      <th class="edge" style="background: #539AE2">Water</th>
      <th class="edge" style="background: #71C558">Grass</th>
      <th class="edge" style="background: #E5C531">Electric</th>
      <th class="edge" style="background: #70CBD4">Ice</th>
      <th class="edge" style="background: #CB5F48">Fighting</th>
      <th class="edge" style="background: #B468B7">Poison</th>
      <th class="edge" style="background: #CC9F4F">Ground</th>
      <th class="edge" style="background: #7DA6DE">Flying</th>
      <th class="edge" style="background: #E5709B">Psychic</th>
      <th class="edge" style="background: #94BC4A">Bug</th>
      <th class="edge" style="background: #B2A061">Rock</th>
      <th class="edge" style="background: #846AB6">Ghost</th>
      <th class="edge" style="background: #6A7BAF">Dragon</th>
      <th class="edge" style="background: #736C75">Dark</th>
      <th class="edge" style="background: #89A1B0">Steel</th>
      <th class="edge" style="background: #E397D1">Fairy</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="edge" style="background: #AAB09F">Normal</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="noneffective">0</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge" style="background: #EA7A3C">Fire</th>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="lesseffective">1/2</td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge" style="background: #539AE2">Water</th>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="lesseffective">1/2</td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge" style="background: #71C558">Grass</th>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="effective">2</td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="effective">2</td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge" style="background: #E5C531">Electric</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="lesseffective">1/2</td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="noneffective">0</td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge" style="background: #70CBD4">Ice</th>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="lesseffective">1/2</td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge" style="background: #CB5F48">Fighting</th>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="lesseffective">1/2</td>
      <td class="lesseffective">1/2</td>
      <td class="effective">2</td>
      <td class="noneffective">0</td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="effective">2</td>
      <td class="lesseffective">1/2</td>
    </tr>
    <tr>
      <th class="edge" style="background: #B468B7">Poison</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="noneffective">0</td>
      <td class="effective">2</td>
    </tr>
    <tr>
      <th class="edge" style="background: #CC9F4F">Ground</th>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="noneffective">0</td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge" style="background: #7DA6DE">Flying</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge" style="background: #E5709B">Psychic</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="noneffective">0</td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge" style="background: #94BC4A">Bug</th>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="lesseffective">1/2</td>
      <td class="lesseffective">1/2</td>
    </tr>
    <tr>
      <th class="edge" style="background: #B2A061">Rock</th>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge" style="background: #846AB6">Ghost</th>
      <td class="noneffective">0</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="dark"></td>
    </tr>
    <tr>
      <th class="edge" style="background: #6A7BAF">Dragon</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="noneffective">0</td>
    </tr>
    <tr>
      <th class="edge" style="background: #736C75">Dark</th>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
    </tr>
    <tr>
      <th class="edge" style="background: #89A1B0">Steel</th>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="effective">2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="lesseffective">1/2</td>
      <td class="effective">2</td>
    </tr>
    <tr>
      <th class="edge" style="background: #E397D1">Fairy</th>
      <td class="light"></td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="lesseffective">1/2</td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="light"></td>
      <td class="dark"></td>
      <td class="effective">2</td>
      <td class="effective">2</td>
      <td class="lesseffective">1/2</td>
      <td class="dark"></td>
    </tr>
  </tbody>
</table>

{% endblock %}
